
.homepageImgs {
  height: 200px ; 
  background-size: cover;
}
.homePageSpan{
  display: inline-block;
  margin: 0%;
}
#fitness *{
  width: 100%;
}
#fitness{
  display: inline-block;
  margin: 15%;
}
.table td, th {
  text-align: center;
  
  } 
  .table {
    margin: auto;
    width: 70% !important; 
 }
