@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
body {
  font-family: 'Bree Serif', serif;
  background-color: #EFEFEF;
  
}

.homepageImgs {
  height: 200px;
  background-size: cover;
}

.homePageSpan {
  display: inline-block;
  margin: 0%;
}

#fitness * {
  width: 100%;
}

#fitness {
  display: inline-block;
  margin: 15%;
}


@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&display=swap');
h3 {
  font-family: 'fangsong';
}

.carousel-control-next-icon {
  width: 0;
}

.carousel-control-prev-icon {
  width: 0;
}

footer {
  height: 100px;
}

#header {
  background-image: url("./components/img/young-caucasian-male-football-soccer-player-kicking-ball-goal-mixed-light-dark-wall-concept-healthy-lifestyle-professional-sport-hobby.jpg");
  width: 100%;
  height: 800px;
  background-size: cover;
  margin-top: -7%;
}

image {
  border: none
}
.d-block{
height: 500px;
width: 400px;
}
#header a {
  position: absolute;
  /* Position them relative to the browser window */
  left: -87px;
  /* Position them outside of the screen */
  transition: 0.6s;
  /* Add transition on hover */
  padding: 9px;
  width: 133px;
  text-decoration: none;
  /* Remove underline */
  font-size: 20px;
  /* Increase font size */
  color: white;
  /* White text color */
  border-radius: 0 5px 5px 0;
  /* Rounded corners on the top right and bottom right side */
}

#header a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */

#home {
  top: 81px;
  background-color: #04AA6D;
}

#aboutus {
  top: 200px;
  background-color: #2196F3;
  /* Blue */
}

#profile {
  top: 140px;
  background-color: #f44336;
  /* Red */
}

/* Dropup Button */

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.carousel {
  width: 90%;
  margin-left: 22%;
}
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */

.dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropup */

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropup links on hover */

.dropup-content a:hover {
  background-color: #ddd
}

/* Show the dropup menu on hover */

.dropup:hover .dropup-content {
  display: block;
}

/* Change the background color of the dropup button when the dropup content is shown */

.dropup:hover .dropbtn {
  background-color: #2980B9;
}

#navbar {
  background-color: #333;
  /* Black background color */
  position: fixed;
  /* Make it stick/fixed */
  top: -50px;
  /* Hide the navbar 50 px outside of the top view */
  width: 100%;
  /* Full width */
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}
.nav-item{
  margin-top: -11%;
  margin-bottom: 10%;
  border-radius: 3px;
}
.nav-item *{
  
  border-radius: 3px;
}
/* Style the navbar links */

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar {
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: end; */
  justify-content: left;
  padding-top: 3.5rem;
  /* padding-bottom: .5rem; */
}



.btn::before {
  width: 100%;
  height: 100%;
  background: linear-gradient( 120deg, transparent, var(--primary-color), transparent);
  transform: translateX(-100%);
  transition: 0.6s;
}

.btn:hover {
  background: transparent;
}

.btn::before {
  transform: translateX(100%);
}

.slider {
  margin-top: 766px;
  right: -82px;
  /* display: inline; */
}



/* ---------------------------- */

.footer2 {
  background-color: black;
  /* width: 100%;
  height: 250px; */
  
  position: relative;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  
  /* Height of the footer*/ 
  height: 150px;
  width:100%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus, *:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span, .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover, .wrapper .facebook:hover .tooltip, .wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .twitter:hover, .wrapper .twitter:hover .tooltip, .wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover, .wrapper .instagram:hover .tooltip, .wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover, .wrapper .github:hover .tooltip, .wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover, .wrapper .youtube:hover .tooltip, .wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}

/* ----------------------------about us */

.firstSec {
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.firstSec h2 {
  font-size: 50px;
  color: white;
  position: relative;
  top: -39px;
}

.firstSec p {
  font-size: 35px;
  color: white;
  position: relative;
  top: -100px;
}

.secondSec {
  margin: auto;
  display: flex;
  width: 1050px;
  margin-top: -250px;
  flex-basis: 33.33%;
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: center;
  gap: 120px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 260px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.15)
}

.card img {
  border-radius: 5px;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

header,footer{
  overflow: hidden;
}

/* ----------------------------- */

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 9px;  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  width: 127px;
  font-size: 17px;

  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#aboutus {
  top: 20px;
  background-color: #04AA6D;
}

#profile {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#home {
  top: 140px;
  background-color: #f44336; /* Red */
}

/* #contact {
  top: 200px;
  background-color: #555 /* Light Black */
  .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');
  .container{
     background-color: #9e9e9e5c;
     font-family: 'Caramel', cursive;
  }
  .firstSec p {
    color: #9e9e9e;
    font-family: 'Anton', sans-serif;
 }
 .firstSec{
  min-height: 383px;

 }

 .homePageSpan{
  margin: 1%;

  
 }
 .fitnessDiv{
  display: grid;
  grid-template-columns: fr fr;
  grid-template-columns: auto auto;
  /* gap: 20px; */
}
.col {
  flex: 1 0;
  margin-left: 192px;
  margin-top: 163px;}

 .row{
  margin-top: -38px;
  padding-top: -19px;
  padding-right: 92px;}